{% extends 'base.html' %}
{% load static %}
{% block title%}Takizawa{% endblock %}

{% block content %}
    <div class="detail-product d-flex">
        <div class="product-pic-container">
            <div class="img-wrapper">
                {% if product.images.all %}
                    {% for image in product.images.all %}
                        <img class="product-img" src="{{ image.image.url }}" style="display: none;" data-index="{{ forloop.counter0 }}">
                    {% endfor %}
                {% else %}
                    <img src="{% static "img/noimage.png" %}" class="product-img">
                {% endif %}
                <div class="left-click-zone"></div>
                <div class="right-click-zone"></div>
            </div>
        </div>
        <script>
            const images = document.querySelectorAll('.product-img');
            const leftZone = document.querySelector('.left-click-zone');
            const rightZone = document.querySelector('.right-click-zone');
            let currentIndex = 0;
        
            images[currentIndex].style.display = 'block';
        
            if (images.length > 1) {
                leftZone.addEventListener('click', () => {
                    images[currentIndex].style.display = 'none';
                    currentIndex = (currentIndex - 1 + images.length) % images.length;
                    images[currentIndex].style.display = 'block';
                });
        
                rightZone.addEventListener('click', () => {
                    images[currentIndex].style.display = 'none';
                    currentIndex = (currentIndex + 1) % images.length;
                    images[currentIndex].style.display = 'block';
                });
            } else {
                leftZone.style.display = 'none';
                rightZone.style.display = 'none';
            }
        </script>
        <div class="product-description">
            <h1>{{product.name}}</h1>
            <h2 class="pt-3">Description:</h2>
            <p class="description-text">{{product.description}}<p>
            {% if product.discount %}
                <h2 class="pt-3">{{product.sell_price}}₴</h2>
            {% else %}
                <h2 class="pt-2">{{product.price}}₴</h2>
            {% endif %}

            <form hx-post="{% url "cart:cart_add" product.id %}" hx-swap="none" class="qform" method="post">
                <div class="cart-form">
                    {{cart_product_form}}
                    {% csrf_token %}
                </div>
                <input type="submit" value="Add to cart" class="cart-btn btn">
            </form>
        </div>
    </div>
{% endblock%}