/* Old Gothic font from static/fonts */
@font-face {
    font-family: "Old London";
    src: url("../fonts/OldLondon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GalliardStd";
    src: url("../fonts/GalliardStd-Roman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* body of all pages */
body {
    font-size: 18px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: "Old London";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        font-family: "Old London";
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}

/*list for navbar on header*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/* all possible text tags */
a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
}

p {
    color: #000000;
    font-size: 1em;
}

h1 {
    color: #000000;
    font-size: 3em;
}

@media (max-width: 768px){
    h1 {
        color: #000000;
        font-size: 2.5em;
    }
}

h2 {
    color: #000000;
    font-size: 2em;
}

/* all classes for header in css */
.header {
    background-color: #141414;
    padding: 1px 0;
    display: flex;
    justify-content: center;
}

.header-container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}

.header-nav,
.header-logo,
.header-empty {
    position: relative;
    box-sizing: border-box;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-a{
    z-index: 2;
}

.bg-dot {
    position: absolute;
    top: 17px;  
    right: 3px; 
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    z-index: -1;

    width: 18px;  /* Діаметр кола */
    height: 18px; 
    line-height: 18px; /* Вирівнювання тексту в середині кола */
    
    border-radius: 50%; /* Робимо його круглим */
}

.plus-symbol {
    position: absolute;
    top: 17px;  
    right: -12px; 
    font-size: 15px;
    color: rgb(255, 255, 255);
    width: 18px;  /* Діаметр кола */
    height: 18px; 
    line-height: 18px; /* Вирівнювання тексту в середині кола */
}

.header-nav {
    justify-content: flex-start;
}

.header-logo {
    justify-content: center;
}

.header-empty {
    justify-content: flex-end; 
}

/* header takizawa logo*/
.takizawa-logo {
    max-height: 75px;
    max-width: 100%;
}


/* main container of all content*/

/* .container{
    position: relative;
    flex: 1;
    display: flex;
    align-items: space-between;
    justify-content: space-between; 
} */

.container{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between; 
}

@media (max-width: 768px){
    .container{
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: 85%;
        align-items: space-between;
        justify-content: space-between; 
    }
}


.home-container{
    display: flex;
    flex: 1;
    justify-content: space-between; 
    height: 100%;
}

/* classes for shop list display. for now - list.html */

.list-container{
    display: flex;
    flex-wrap: 1;
}

@media (max-width: 768px) {
    .list-container{
        display: flex;
        flex-wrap: 1;
        gap: 40px;
    }
}

.category-sidebar{
    position: relative;
    width: 25%;
    display: flex;
    align-items: flex-start;
}

.sidebar-category-name{
    color: #000000;
}

.home-section{
    width: 75%;
}

.home-cards{
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    align-items: flex-start;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .home-cards{
        display: flex;
        flex-wrap: wrap; 
        align-items: flex-start;
        margin-bottom: 10px;
    }
}

.home-card{
    margin-top: 0;
    box-sizing: border-box;
    max-width: 225px;
    height: 425px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .home-card{
        margin-top: 0;
        box-sizing: border-box;
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}

.img-card{
    flex: 0 0 50%;
    max-height: 450px;
    width: 100%;
    height: auto;
    
}

.title-card {
    flex: 0 0 25%;
    color: #000000;
    font-size: 28px;
}

.home-card-price {
    flex: 0 0 25%;
}


.paginator-container{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.paginator{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.paginator-btn{
    color: #000000;

}
.disabled{
    color: #000000;
    opacity: 0.2;
}

/* all classes for home page */
.home-text-container{
    position: relative;
    top: 0;
    left: 0;
    max-width: 35%;
    display: flex;
    align-items: flex-start;
}

.home-pic-container{
    position: relative;
    max-width: 65%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; 

}

.home-text{
    font-size: 1.5em;
}


@media (max-width: 768px){
    .home-text{
        font-size: 1.1em;
    }
}

.home-model-pic{
    position: relative;
    top: 0;
    left: 0;
    max-height: 650px;

}

@media (max-width: 768px) {
    .home-model-pic{
        position: relative;
        top: 0;
        left: 0;
        max-height: 500px;
    }
}


/* all classes for item description page. used in details.html*/

.detail-product{
    width: 100%;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    .detail-product{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-direction: column;
    }
}

.product-pic-container{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
    border-style: none;
}

@media (max-width: 768px) {
    .prev-btn{
        color: black;
        background-color: white;
        border: none;
        font-size: 4em;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 40px;
        margin-left: 10px;
    }
    
    .next-btn 
    {
        color: black;
        background-color: white;
        border: none;
        font-size: 4em;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 40px;
        margin-right: 10px;
    }
}

/* .prev-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
} */

.product-img {
    width: 100%;
    height: auto;
    min-width: 300px;
    max-width: 550px;
    object-fit: contain;
}


.product-description{
    margin-top: 25px;
    position: relative;
    justify-content: flex-start;
    font-size: 1.25em;
}

.description-text{
    font-size: 1.25em;
    white-space: pre;
}



.cart-btn{
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 180px;
    height: 50px;
    color: black;
}

@media (max-width: 768px) {
    .cart-btn{
        border: 1px solid #000000;
        border-radius: 5px;
        font-size: 1.1em;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        height: 50px;
        color: black;
    }
}

.cart-btn:hover{
    background-color: #141414;
    color: white;
}

/* classes for cart page - details.html*/

.cart-container{
    display: flex;
    flex-wrap: 1;
    margin-top: 10px;
    flex-direction: row;
}

.cart-section{
    display: flex;
    width: 70%;
}

.cart-empty{
    display: flex;
    width: 100%;
    margin-top: 19%;
    justify-content: center;
    align-items: center;
}


.cart-cards{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.cart-card{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: 18px;
}

.cart-card-pic-container{
    display: flex;
    width: 20%;
}
.cart-product-img{
    flex: 0 0 50%;
    max-height: 200px;
    width: 100%;
    height: auto;

}

.cart-card-info{
    display: flex;
    width: 30%;
    justify-content: center;
    flex-direction: start;
    margin-left: 10px;
    gap: 5px;
}

.cart-card-additional-info{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.cart-card-price{
    display: flex;
    width: 32.5%;
    margin-left: 15px;
    justify-content: flex-start;
}

.cart-card-btns{
    display: flex;
    justify-content: center;
    width: 10%;
    margin-top: -15px;
    margin-left: 10px;
}

.cart-card-name{
    font-size: 2em;

}

.cart-card-q{
    font-size: 1.5em;
}

.cart-card-price-text{
    font-size: 2em;
}

.cart-total {
    display: flex;
    position: sticky;
    top: 87.5px;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: fit-content;
    margin-left: 20px;
    /* border: 3px solid black; */
    border-radius: 5px;
}

.cart-total-text{
    padding-left: 10px;
    padding-right: 10px;
}

.cart-checkout-form{
    display: flex;
    width: 95%;
}

.remove-btn{
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90px;
    height: 40px;
    color: black;
}

.remove-btn:hover{
    background-color: #141414;
    color: white;
}

.checkout-btn{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    color: white;
    background-color: #141414;
    align-items: center;
    justify-content: center;
    
}

.checkout-btn:hover{
    border: 1px solid red;
    border-radius: 5px;
    background-color: red;
    color: white;
    transition: 0.2s ease;
}

@media (max-width: 768px) {
    .cart-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* щоб все було по центру */
    }

    .cart-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        order: 1; /* Першим іде cart-section */
    }

    .cart-total {
        position: static;
        width: 90%;
        margin-left: 0;
        margin-top: 20px;
        order: 2; /* Другим іде cart-total */
    }

    .cart-empty {
        margin-top: 50%;
    }

    .cart-cards {
        flex-direction: column;
        align-items: center;
    }

    .cart-card {
        flex-direction: column;
        align-items: center;
        font-size: 16px;
    }

    .cart-card-pic-container {
        width: 100%;
        height: 350px;
        justify-content: center;
        align-items: center;
    }

    .cart-product-img {
        max-height: 350px;
        width: 100%;
        height: auto;
    }

    .cart-card-info {
        width: 90%;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cart-card-additional-info {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .cart-card-price {
        width: 90%;
        margin-left: 0;
        justify-content: center;
    }

    .cart-card-btns {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        justify-content: center;
    }

    .cart-checkout-form {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .remove-btn{
        border: 1px solid #000000;
        border-radius: 5px;
        font-size: 1.1em;
        margin-top: 10px;
        width: 200px;
        height: 40px;
        color: black;
    }

    .checkout-btn {
        width: 100%;
        margin-top: 10px;
    }

    .cart-card-name {
        font-size: 1.5em;
    }

    .cart-card-q, .cart-card-price-text {
        font-size: 1.2em;
    }
}



/* all styles for order pages*/

.order-container{
    display: flex;
    flex-wrap: 1;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
}

.order-form{
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media (max-width: 768px) {
    .order-container{
        display: flex;
        flex-wrap: 1;
        margin-top: 10px;
        justify-content: space-between;
    }

    .order-form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.order-input-container{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.order-checkout-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    margin-left: 20px;
    height: fit-content;
}

@media (max-width: 768px){
    .order-checkout-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-left: 0px;
        margin-top: 20px;
    }
    
}

.order-input-div{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    width: 95%;
    flex-direction: column;

}

@media (max-width: 768px){
    .order-input-div{
        margin-top: 20px;
        display: flex;
        width: 100%;
        justify-content: flex-start;
        flex-direction: column;
    }
}

.input-error-container{
    display: flex;
    height: 10px;
}

.order-input-field{
    font-size: 1.25em;
}

.order-checkout-li{
    list-style: none;
    font-size: 1.25em;
}

@media (max-width: 768px){
    .order-checkout-li{
        display: flex;
        flex-direction: row;
        list-style: none;
        font-size: 1.25em;
        justify-content: space-between;
    }
}

.submit-checkout-btn{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    color: white;
    background-color: #141414;
    align-items: center;
    justify-content: center;
    
}

.submit-checkout-btn:hover{
    border: 1px solid red;
    border-radius: 5px;
    background-color: red;
    color: white;
    transition: 0.
}

/* all styles for completed payment page */

.payment-completed-div{
    display: flex;
    width: 100%;
    flex-wrap: 1;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px){
    .payment-completed-div{
        display: flex;
        width: 100%;
        flex-wrap: 1;
        flex-direction: column;
        margin-top: 40px;
        align-items: center;
    }
}


.payment-completed-card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 20px;
}

.payment-completed-order-info{
    display: flex;
    justify-content: flex-start;
}

.go-back-btn-container{
    display: flex;
    width: 100%;
}
.go-back-btn{
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 1.5em;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    color: black;
    
}

.go-back-btn:hover{
    background-color: #141414;
    color: white;
}

/* footer */
.footer{
    bottom: 0;
    width: 100%;
    background-color: #141414;
    display: flex;
    justify-content: center;
}