/* Old Gothic font from static/fonts */
@font-face {
    font-family: "Old London";
    src: url("../fonts/OldLondon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* body of all pages */
body {
    font-size: 18px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: "Old London";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*list for navbar on header*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/* all possible text tags */
a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
}

p {
    color: #000000;
    font-size: 1em;
}

h1 {
    color: #000000;
    font-size: 3em;
}

h2 {
    color: #000000;
    font-size: 2em;
}

/* all classes for header in css */
.header {
    background-color: #141414;
    padding: 1px 0;
    display: flex;
    justify-content: center;
}

.header-container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}

.header-nav,
.header-logo,
.header-empty {
    box-sizing: border-box;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav {
    justify-content: flex-start;
}

.header-logo {
    justify-content: center;
}

.header-empty {
    justify-content: flex-end; 
}

/* header takizawa logo*/
.takizawa-logo {
    max-height: 75px;
    max-width: 100%;
}


/* main container of all content*/
.container{
    position: relative;
    flex: 1;
    display: flex;
    align-items: space-between;
    justify-content: space-between; 
}

/* classes for shop list display. for now - list.html */
.home-cards{
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
    align-items: center;

}

.home-card{
    margin-top: 0;
    box-sizing: border-box;
    max-width: 300px;
    height: 450px;
    margin-bottom: 10px;
}

.img-card{
    max-height: 450px;
    max-width: 100%;
}

.title-card {
    color: #000000;
    font-size: 40px;
}


/* all classes for home page */
.home-text-container{
    position: relative;
    top: 0;
    left: 0;
    max-width: 35%;
    display: flex;
    align-items: flex-start;
}

.home-pic-container{
    position: relative;
    max-width: 65%;
    display: flex;
    align-items: flex-end;
    justify-content: top; 

}

.home-text{
    font-size: 1.5em;
}

.home-model-pic{
    position: relative;
    top: 0;
    left: 0;
    max-height: 650px;

}

/* all classes for item description page. used in details.html*/

.detail-product{
    width: 100%;
    justify-content: space-evenly;
}

.product-pic-container{
    max-width: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}


.product-img{
    max-height: 550px;
    min-height: 200px;
    width: 100%; 
    height: fit-content; 
    object-fit: cover; 
}

.product-description{
    max-width: 40%;
    margin-top: 25px;
    position: relative;
    justify-content: flex-start;
    font-size: 1.25em;
}

.description-text{
    font-size: 1.25em;
    padding-top: 10px;
    white-space: pre;
}

.cart-btn{
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 180px;
    height: 50px;
    color: black;
}

.cart-btn:hover{
    background-color: #141414;
    color: white;
}


/* footer */
.footer{
    bottom: 0;
    width: 100%;
    background-color: #141414;
    display: flex;
    justify-content: center;
}