@font-face {
    font-family: "Old London";
    src: url("../fonts/OldLondon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 18px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: "Old London";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
}

p {
    color: #000000;
    font-size: 1em;
}

.header {
    background-color: #141414;
    padding: 1px 0;
    display: flex;
    justify-content: center;
}

.header-container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.header-nav,
.header-logo,
.header-empty {
    width: 33%;
    display: flex;
    align-items: center;
}

.header-nav {
    justify-content: flex-start;
}

.header-logo {
    justify-content: center;
}

.header-empty {
    justify-content: flex-end; 
}

.takizawa-logo {
    max-height: 75px;
    max-width: 100%;
}
.container{
    flex: 1;
}
.footer{
    bottom: 0;
    width: 100%;
    background-color: #141414;
    display: flex;
    justify-content: center;
}